<div class="un-logged-in-user">
  Welcome,
  <span class="username">Stranger</span>!
  <span class="divider"> | </span>
  <%= link_to 'Sign in', new_user_session_path %>
  <span class="divider"> or </span>
  <%= link_to 'Join for Free', new_user_registration_path %>
</div>

