<div id="welcome">
  <h2>
    Are you tired of forgetting important things?
    Are you tired of loosing time trying to find that note needed this morning?
    If so, this is your application.
    <em>Welcome to Bitacora!</em>
  </h2>
</div>

