<% if user_signed_in? -%>
  <h3 class="updater">Update your bitacora <em>/</em></h3>
  <div id="new-log-entry-box">
    <%= render :partial => 'log_entries/form' %>
  </div>
  <%= render :partial => 'log_entries/list' %>
<% else -%>
  <%= render :partial => 'welcome_message' %>
<% end -%>

